#eventHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 22px;
    color: var(--font-color);
}

.eventItem {
    color: var(--font-color);
    margin: 5px;
}