/*
Names: Raymond Zhong
Student Numbers: 400556509
Date Created: April 2, 2025
Description: CSS file for the calendar
*/

#calendarHeader {
    display: flex;
    align-items: center;
    padding: 5%;
    padding-right: 3%;
    padding-top: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
    color: var(--font-color);
}

#calendarNav {
    display: flex;
}

.monthNav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    margin: 5px;
    width: 30px;
    height: 30px;
    padding-bottom: 5%;
    border: none;
    border-radius: 5px;
    background: none;
    color: var(--font-color);
}

.monthNav:hover {
    background: var(--button-hover-color);
}

.monthNav:active {
    background: var(--button-active-color);
}

#prevMonth {
    margin-right: -10px;
}

#displayMonth {
    font-weight: 500;
    font-size: 20px;
}

#calendarBody {
    padding-top: 10px;
}

#calendarBody li {
    width: calc(100%/7);
    font-size: 18px;
}

#calendarWeekdays {
    list-style: none;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-weight: 500;
    color: var(--font-color);
}

#calendarDates {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-bottom: 5px;
    color: var(--font-color);
}

#calendarDates li {
    list-style: none;
    width: calc(100%/7);
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: background 0.2s;
    border-radius: 3px;
}

#calendarDates li:not(.numb):hover {
    background: var(--button-hover-color);
    cursor: pointer;
}

#calendarDates li:not(.numb):active {
    background: #acacac;
}

.highlight {
    color: var(--highlight-color);
}

.numb {
    color: var(--numb-color);
}

.selectedDate {
    border: 2px solid var(--border-color);
    border-radius: 3px;
}