/*
Names: Raymond Zhong
Student Numbers: 400556509
Date Created: April 23, 2025
Description: CSS code related to task display via calendar
*/

#eventHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 22px;
    color: var(--font-color);
}

.eventItem {
    color: var(--font-color);
}

#dateTaskList {
    padding: 10px;
    padding-bottom: 5px;
    color: var(--font-color);
}