/*
Names: Raymond Zhong
Student Numbers: 400556509
Date Created: April 23, 2025
Description: CSS file for header
*/

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 160px;
}

#greeting {
    margin: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
    color: var(--font-color);
}