* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    transition: background 0.5s;
    margin-bottom: 20px;
}

#greeting {
    margin: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
    color: var(--font-color);
}
