/*
Name: Lucas
Student Number: 400582219
Date Created: April 3, 2025
Description: CSS file to style the timer
*/

#timerContainer {
    padding: 10px;
    color: var(--font-color);
    align-items: center;
    justify-content: center;
}

#timerButtons {
    display: flex;
    flex-direction: row;
    color: var(--font-color);
    align-items: center;
    justify-content: center;
}

.timerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    margin: 5px;
    width: 30px;
    height: 30px;
    padding-bottom: 5%;
    border: none;
    border-radius: 5px;
    background: none;
    color: var(--font-color);
}

.timerButton:enabled:hover {
    background: var(--button-hover-color);
}

.timerButton:disabled:hover {
    cursor: not-allowed;
}

.timerButton:enabled:active {
    background: var(--button-active-color);
}

.timerButton:disabled:active {
    cursor: not-allowed;
}

#timerHeader h2 {
    font-weight: 500;
    font-size: 20px;
}

#timer {
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
}

#timerStart {
    font-weight: 450;
    font-size: 20px;
    padding: 3px 10px 5px 10px;
}

#timerStop {
    display: none;
    font-weight: 450;
    font-size: 20px;
    padding: 3px 10px 5px 10px;
}