#timerContainer {
    padding: 10px;
    color: var(--font-color);
    align-items: center;
    justify-content: center;
}

#timerHeader h2{
    font-weight: 500;
    font-size: 20px;
}

#timer {
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
}

#timer_button {
    font-weight: 450;
    font-size: 20px;
    padding: 3px 10px 5px 10px;
}